<header class="blog-header">
    <h1>Venez avec des cookies !</h1>
    <nav>
        <a href="/">home</a>
        <a href="/admin">admin</a>
    </nav>
</header>

<main>
    <aside class="back-to-admin">
        <a href="/admin"><i class="fa-solid fa-arrow-right-from-bracket"></i> Annuler</a>
    </aside>
    <form action="" class="card-publish" method="post">
        <h2 class="home-publication-new">Modifier</h2>
    
        <label for="title">Titre :</label>
        <input id="title" name="title" type="text" placeholder="Nouveau Titre" />
    
        <label for="content">Message :</label>
        <textarea
          id="content"
          name="content"
          type="text"
          placeholder="Nouveau Message"
        ></textarea>
    
        <input type="submit" value="Modifier la publication" />
    </form>
</main>

<footer class="blog-footer">
    <p>Le blog qui tue la mouche !</p>
    <p>Coded with <i class="fa-solid fa-heart fa-lg"></i> by Ony Lalaina Valérie</p>
</footer>
