    <aside class="back-to-admin">
        <a href="/admin"><i class="fa-solid fa-arrow-right-from-bracket"></i> Annuler</a>
    </aside>
    <form action="" class="card-publish" method="post">
        <h2 class="home-publication-new">Modifier</h2>
    
        <label for="title">Titre :</label>
        <input id="title" name="title" type="text" placeholder="Nouveau Titre" />
    
        <label for="content">Message :</label>
        <textarea
          id="content"
          name="content"
          type="text"
          placeholder="Nouveau Message"
        ></textarea>
    
        <input type="submit" value="Modifier la publication" />
    </form>
