<header class="blog-header">
    <h1>mon blog</h1>
    <nav>
        <a href="/">home</a>
        <a href="/admin">admin</a>
    </nav>
</header>
<main>
    <section>
        <% 
            data.forEach(item => {
                %>
                    <article class="single-post">
                        <h3><%- item.Title %></h3>
                        <p><%- item.Contents %></p>
                        <p>par : <%- item.firstName %> <%- item.lastName %></p>
                    </article>
                <%
            })
        %> 
    </section>
</main>
<footer class="blog-footer">
    <p>Le blog qui tue la mouche !</p>
    <p>by Valérie</p>
</footer>