@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


/************ GLOBAL *************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: rgb(240, 242, 245);
	/* background-color: #333; */
}

a {
	text-decoration: none;
}

.font14 {
	font-size: 14px;
}

.txt-center {
	text-align: center;
}


/************ HEADER *************/

.blog-header {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./fond.jpg");
	background-position: center;
	background-size: cover;
	height: 300px;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.blog-header h1 {
	text-transform: capitalize;
	color: #fff;
	font-size: 2.5rem;
	text-align: center;
}

.blog-header nav {
	text-align: right;
}

.blog-header nav a {
	color: white;
	margin: 10px;
	border-radius: 10px;
    border: 1px solid;
    padding: 0.5rem;
}

/************ MAIN *************/
.card-publish {
	background-color: #fff;
	margin: 3rem auto;
	width: 680px;
	padding-bottom: 1.5rem;
	border-radius: 20px;
}

.card-publish label {
	display: flex;
    justify-content: center;
}

.card-publish input {
	border-radius: 20px;
    overflow: hidden;
    border: none;
    background-color: rgb(241, 242, 246);
    width: 500px;
    margin: auto;
    display: block;
    padding: .5rem;
}

.card-publish textarea {
	background-color: rgb(241, 242, 246);
    width: 500px;
    margin: auto;
    display: block;
	height: 50px;
	padding: .5rem;
	border: none;
	border-radius: 5px;
}

.home-publication-list, .home-publication-new {
	font-family: 'Pacifico', cursive;
	font-size: 2rem;
	color: #4a4040;
	margin: 1rem 0;
	text-align: center;
}

	/************ 
	POST CARDS 
	*************/
.single-post, .comments  {
	margin: 1rem auto;
    box-shadow: 0px 0px 5px lightgrey;
    border-radius: 20px;
    overflow: hidden;
    width: 680px;
}

.single-post_header img {
	width: 50px;
}

.single-post_header {
	display: flex;
    align-items: flex-start;
	padding: 0.5rem;
}

.single-post_header div {
	display: block;
    margin: auto 0;
    padding-left: 0.5rem;
}

.single-post_header div span {
	font-weight: bold;
}

.single-post_title {
	padding: 0 1rem;
	color: #0cd6b4;
	/* color: #0c7968; */
}

.single-post_title a {
	color: #0cd6b4;
}

.single-post_body {
	display: flex;
	justify-content: space-between;
}

.single-post_body > p {
	padding: .7rem 1rem;
}

.fa-comments {
	color: #0cd6b4;
}

.fa-heart {
	color: #ff407e;
}


@media screen and (min-width: 300px) and (max-width: 768px) {


	.blog-header h1 {
		padding: 0 0.5rem;
	}
	
	.blog-header {
		padding: 0;
	}

	.single-post, .comments, .card-publish {
		width: auto;
		margin: 1rem;
	}

	.card-publish input {
		width: 100%;
	}

}

	/************ 
	COMMENTS 
	*************/

.divider {
	height: 2px;
	width: 300px;
	background-color: grey;
	margin: 1rem auto;
}

.comments {
	display: flex;
    background-color: #d3d3d33b;
    flex-direction: column;
	padding: 1rem;
}

.comments aside {
	display: flex;
	justify-content: space-between;
	padding-bottom: .5rem;
}

.comments aside p {
	font-weight: bold;
}


/************ PUBLISH CARD *************/











/********** FOOTER *************/

.blog-footer {
	width: 100vw;
	background-color: #0cd6b4;
	text-align: center;
	padding: 25px;
}
