@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

/************ GLOBAL *************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: rgb(240, 242, 245);
	/* background-color: #333; */
}

a {
	text-decoration: none;
}

.font14 {
	font-size: 14px;
}

.txt-center {
	text-align: center;
}


/************ HEADER *************/

.blog-header {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./fond.jpg");
	background-position: center;
	background-size: cover;
	height: 300px;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.blog-header h1 {
	text-transform: capitalize;
	color: #fff;
	font-size: 2.5rem;
}

.blog-header nav {
	/* padding-top: 7rem; */
	text-align: right;
}

.blog-header nav a {
	color: white;
	margin: 10px;
	border-radius: 10px;
    border: 1px solid;
    padding: 0.5rem;
}

/************ MAIN *************/
main h2 {
	color: #9b9b9b;
	text-decoration: underline;
	margin: 2rem 0;
}

	/************ 
	POST CARDS 
	*************/
.single-post, .comments  {
	margin: 1rem auto;
    box-shadow: 0px 0px 5px lightgrey;
    border-radius: 20px;
    overflow: hidden;
    width: 680px;
}

.single-post_header img {
	width: 50px;
}

.single-post_header {
	display: flex;
    align-items: flex-start;
	padding: 0.5rem;
}

.single-post_header div {
	display: block;
    margin: auto 0;
    padding-left: 0.5rem;
	/* color: #fff; */
}

.single-post_header div span {
	font-weight: bold;
}

.single-post_title {
	padding: 0 1rem;
	color: #0cd6b4;
	/* color: #0c7968; */
}

.single-post_title a {
	color: #0cd6b4;
}

.single-post_body {
	display: flex;
	justify-content: space-between;
}

.single-post_body > p {
	padding: .7rem 1rem;
	/* color: #fff; */
}

.fa-comments {
	color: #0cd6b4;
}

.fa-heart {
	color: #ff407e;
}


@media screen and (min-width: 300px) and (max-width: 768px) {


	.blog-header h1 {
		padding: 0 0.5rem;
	}
	
	.blog-header {
		padding: 0;
	}

	.single-post, .comments {
		width: auto;
		margin: 1rem;
	}
}

	/************ 
	COMMENTS 
	*************/

.divider {
	height: 2px;
	width: 300px;
	background-color: grey;
	margin: 1rem auto;
}

.comments {
	display: flex;
    background-color: #d3d3d33b;
    flex-direction: column;
	padding: 1rem;
}

.comments aside {
	display: flex;
	justify-content: space-between;
	padding-bottom: .5rem;
}

.comments aside p {
	font-weight: bold;
}


/************ PUBLISH CARD *************/










/************ GLOBAL *************/
/************ GLOBAL *************/
/************ GLOBAL *************/
.back {
	font-size: 1.8rem;
	padding: 1%;
	color: rgb(0, 70, 128);
	width: fit-content;
	/* margin: 2% auto; */
	outline: none;
	box-shadow: 2px 2px 4px #333;
	border-radius: 10px;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
}

.edit {
	color: #0cd6b4;
}

.remove {
	color: red;
}
/********** FORM ******/

main form {
	width: 40%;
	margin: auto;
	text-align: center;
	border: 3px solid #9b9b9b;
	padding: 25px 50px;
	border-radius: 50px;
}

main form label {
	color: #9b9b9b;
	text-decoration: underline;
}

main form input {
	display: block;
	margin: 25px auto;
	width: 70%;
}

main form textarea {
	display: block;
	margin: 25px auto;
	width: 70%;
	height: 120px;
}

main form input[type="submit"] {
	height: 40px;
	width: 50%;
	background-color: #0cd6b4;
	border: none;
	border-radius: 10px;
}

main form select {
	display: block;
	margin: 25px auto;
	width: 70%;
	text-align: center;
}

/********** HOME ****/

.home-list article {
	/* text-align: left; */
	list-style: none;
	margin: 30px auto;
	width: 50%;
}

.home-list article a {
	display: block;
	color: #0cd6b4;
	font-size: 1.2em;
	margin-bottom: 10px;
	text-align: center;
}

/********** ARTICLE ****/

.article-detail {
	text-align: center;
	margin-bottom: 100px;
}

.article-detail h2 {
	color: #0cd6b4;
	margin-bottom: 25px;
}

.auth {
	font-size: 0.8em;
	margin-top: 20px;
}

hr {
	margin: 25px 0;
}

.comment-article {
	width: 30%;
	margin: auto;
}
.comment-article article {
	margin: 20px;
}

.comment-article article div {
	display: flex;
	justify-content: space-between;
}
.comment-article h3 {
	color: #32d37b;
	font-size: 1.2em;
}

.comment-article p {
	text-align: left;
	margin: 5px;
	font-size: 0.9em;
}

.comment-article p.date-comment {
	font-size: 0.7em;
}



/********** ADMIN ****/
/* 
#admin-panel h2 {
	color: #333;
}

#admin-panel {
	padding: 0;
	width: 100vw;
	min-height: 50vh;
	display: flex;
	flex-direction: row;
}

.main-ctn{
	width: 30%;
	background-color: #0cd6b4;
	display: flex;
	flex-direction: column;
	
}

.main-ctn a {
	padding: 2% 0 2% 5%;
	margin-top: 3%;
	text-decoration: none;
	color: #333;
}

.main-ctn a.active {
	background-color: #c2ebe4;
}

.secondary-ctn{
	width: 70%;
	background-color: #c2ebe4;
	padding: 2%;
} */
/********** FOOTER *************/

.blog-footer {
	width: 100vw;
	background-color: #0cd6b4;
	text-align: center;
	padding: 25px;
}
